name: CV PDF Generation and External Push

on:
  # push:
  #   branches: [ main ]
  workflow_dispatch:

jobs:
  generate_cv:
    strategy:
      matrix:
        lang: [it, en]
        profile: [david_marabottini_expanded]

    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Source Repo
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Download Apache FOP Binary
        run: |
          FOP_VERSION="2.7"
          wget https://archive.apache.org/dist/xmlgraphics/fop/binaries/fop-${FOP_VERSION}-bin.tar.gz
          tar xvf fop-${FOP_VERSION}-bin.tar.gz
          mv fop-${FOP_VERSION} fop
          echo "FOP_HOME=$(pwd)/fop/fop/fop" >> $GITHUB_ENV   # NOTA: punta direttamente allo script interno
      # - name: Debug FOP structure
      #   run: |
      #     ls -l $(pwd)/fop/fop
      #     ls -l $(pwd)/fop/fop
      #     ls -l $(pwd)/fop/fop

        env:
          FOP_HOME: ${{ env.FOP_HOME }}

      - name: Generate CV PDF - Lang ${{ matrix.lang }} Profile ${{ matrix.profile }}
        run: |
          chmod +x $(pwd)/fop/fop/fop
          $(pwd)/fop/fop/fop \
            -c ${GITHUB_WORKSPACE}/fop.xconf \
            -xml ${GITHUB_WORKSPACE}/dummy.xml \
            -xsl ${GITHUB_WORKSPACE}/index.xsl \
            -pdf ${GITHUB_WORKSPACE}/profiles/${{ matrix.profile }}/${{ matrix.lang }}/cv_david_one_page.pdf \
            -param lang ${{ matrix.lang }} \
            -param root_folder ${{ matrix.profile }}
        shell: bash
        env:
          FOP_HOME: ${{ env.FOP_HOME }}

      - name: Push CV PDF to External Repository - Lang ${{ matrix.lang }} Profile ${{ matrix.profile }}
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: 'profiles/${{ matrix.profile }}/${{ matrix.lang }}/cv_david_one_page.pdf'
          destination_repo: 'davidmarabottini/CV_Insights'
          destination_folder: '${{ matrix.profile }}/${{ matrix.lang }}/'
          commit_message: 'Auto-generated CV PDF from FOP, commit ${{ github.sha }}'
          user_name: 'GitHub Actions Bot'
          user_email: 'actions@github.com'
